GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GITHUB_APP_ID=""
GITHUB_INSTALLATION_ID=""
GITHUB_PRIVATE_KEY=`-----BEGIN RSA PRIVATE KEY-----

-----END RSA PRIVATE KEY-----`

E2B_API_KEY=""

//server config
SERVER_PORT=3000
TARGET_URL=http://localhost:3000
